.scrollbutton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(#1afecd , #379097);
    color: white;
    bottom: 40px;
    font-size: 30px;
    border-radius: 50%;
    z-index: 4;
}

@media screen and (max-width: 1000px)
{
    
    .scrollbutton{
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }

}
@media screen and (max-width: 500px)
{
    
    .scrollbutton{
        right: 30px;
    }

}